{% extends "base.html" %}


<!-- Include Something in Header -->
{% block hearder %}
    <title>Shop for Good</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}


<!-- Inside Body Section -->
{% block body %}

    <!-- Navigaion Bar -->
    <nav class="navbar navbar-expand-md bg-light navbar-light">
        <!-- Logo TXT -->
        <a class="navbar-brand" href="/">Shop4Good</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <!-- Right Side -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">Welcome, {{ session['admin_name'] }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Body Section -->
    <div class="container">
        <div class="row myrow">

            {% if is_delete %}
                <div class="alert alert-secondary" role="alert">
                    {{ message }}
                </div>
            {% endif %}

            {#      Download Button      #}
            <div class="col-sm card">
                <h4>Download Excel</h4>
                <div class="alert alert-success" role="alert">
                    You can download all data as a Excel file.
                </div>
                <form action="{{ url_for('download_excel') }}" method="post">
                    <input type="submit" value="Download" class="btn btn-success">
                </form>
            </div>

            {#      Delete Button      #}
            <div class="col-sm card">
                <h4>Delete Data</h4>
                <div class="alert alert-danger" role="alert">
                    This will remove all data from database, be careful!
                </div>
{#                <form action="{{ url_for('delete_user_data') }}" method="post">#}
                <form action="#" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </div>

        </div>
    </div>
{% endblock %}

<!-- Body Foot for include JS file & Script -->
{% block body_footer %}
    <script>
        function delete_confirmation() {

        }
    </script>
{% endblock %}