{% extends "base.html" %}
<!-- Include Something in Header -->
{% block hearder %}
    <title>Shop for Good</title>
    <style>
        .card{
            margin: 60px auto;
            padding: 40px;
            border-radius: 6px;
        }
        h1 h4{
            margin: auto;
        }
    </style>
{% endblock %}


<!-- Inside Body Section -->
{% block body %}
    <div class="container">
        <div class="card">
            <h1>Registration Successful!</h1>
            <h4>Thanks for feel interest in your event.</h4>
        </div>
    </div>
{% endblock %}
