{% extends "base.html" %}


<!-- Include Something in Header -->
{% block hearder %}
    <title>Shop for Good</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}


<!-- Inside Body Section -->
{% block body %}
    <div class="container">
        <div class="header card">
            <h2 class="">Shop4Good Garments Sale Event – 4th edition</h2>
            <p class="header-p">27 & 28 November 2020, from 09.00 am to 06.00 pm <br> @ Embassy of Italy in Dhaka, Plot
                No 2/3, 79 Rd No 74, Gulshan 2, Dhaka 1212</p>
        </div>

        <div class="form-body card">
            <!-- Form Section -->
            <form action="{{ url_for('reg') }}" class="needs-validation" method="post">

                <!-- Name the participant -->
                <div class="form-group">
                    <label for="name">Name the Participant</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter username" name="name" required>
                </div>

                <!-- Phone Number -->
                <div class="form-group">
                    <label for="phone">Cell Phone Number</label>
                    <input type="text" class="form-control" id="phone" placeholder="Enter password" name="phone"
                           required>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
                </div>

                <!-- NID/Passport number -->
                <div class="form-group">
                    <label for="passport_no">NID/Passport number</label>
                    <input type="text" class="form-control" id="passport_no" placeholder="NID/Passport number"
                           name="passport_no" required>
                </div>

                <!-- Booking date -->
                <div class="form-group">
                    <label for="session_date">Event Date</label>
                    <select class="form-control" id="session_date" name="session_date"
                            onchange="update_time_slot(this.value)">
                        {#                        <option value="empty">Please Select Event Date</option>#}
                        <option value="2020-11-26">26th November, 2020</option>
                        <option value="2020-11-27">27th November,2020</option>
                    </select>
                </div>

                <!-- Time slot -->
                <div id="app">
                    <div class="form-group">
                        <label for="time_slot">Time Slot</label>
                        <select class="form-control" name="time_slot" id="time_slot">
                            <!--Set List Dynamically -->
                            <option value="empty">Please Select Time Slot</option>
                            <option v-for="session in list" v-bind:value="session.session_id">
                                [[ process_date(session) ]]
                            </option>
                        </select>
                        <div class="shadow-none p-3 mb-3 bg-light rounded sub-info" role="alert">Children from 02 months
                            to
                            13 years old do not require any registration and they will be allowed
                            to enter the sale’s premises with their parents, whose registration is mandatory.
                        </div>
                    </div>
                </div>

                <!-- Number of participant -->
                <div class="form-group">
                    <label for="total_person">Number of participant</label>
                    <select class="form-control" name="total_person" id="total_person">
                        <option value="1">1 Person</option>
                        <option value="2">2 Person</option>
                        <option value="3">3 Person</option>
                        <option value="4">4 Person</option>
                        <option value="5">5 Person</option>
                    </select>
                </div>

                <!-- For safety and security reasons -->
                <div class="shadow-none p-3 mb-3 bg-light rounded additional-info">
                    <span><b>For safety and security reasons –</b></span>
                    <ul>
                        <li>Guests are permitted to enter with only one small bag, size 35 cm x 40 cm x 19 cm.
                            Additional
                            bags and boxes will be available at the sale.
                        </li>
                        <li>Please bring with you a valid ID number matching with the one inserted in the
                            booking system.
                        </li>
                        <li>It will be mandatory for everyone to wear masks while visiting the garments sale’s
                            premises.
                        </li>
                        <li>Hand sanitizers, disposable gloves and shoes disinfectants will be available at the sale.
                        </li>
                    </ul>
                    <span>Before the event, you will receive a confirmation email from the sale organizers,
                        detailing your selected date and time slot. In case you need to further
                        communicate with us, please email us at <a href="mailto:a.rahman@tdhitaly.org">a.rahman@tdhitaly.org</a>  or call/text us
                        at +880 1712-227190. </span>
                </div>

                <!-- Submit Button -->
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}


<!-- Body Foot for include JS file & Script -->
{% block body_footer %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}