body {
  height: 100%;
}

.card{
  margin: 40px auto;
  width: 50%;
  padding: 40px;
}

@media only screen and (max-width: 1000px) {
  .card{
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  .card{
    width: 65%;
  }
}

@media only screen and (max-width: 800px) {
  .card{
    width: 100%;
  }
}
