/* -------------- */
/* Inside Form */
.btn-primary {
    width: 100%;
}

.card {
    padding: 40px;
}

.sub-info {
    margin-top: 20px;
    font-size: 14px;
}

.additional-info {
    font-size: 14px;
}

/* --------------- */
/* Header Section */
.header {
    background-color: white;
    border-radius: 6px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.header h2 {
    color: coral;
    font-size: 1.8em;
}

.header p {
    color: grey;
    font-size: 14px;
}

.logo-img {
    border-radius: 8px;
    width: 150px;
}


/* ----------- */
/* Form Body */
.form-body {
    border-radius: 6px;
    background-color: white;
    padding: 40px;
    margin-bottom: 30px;
}

.submit-bn {
    border: white;
    color: white;
    background-color: coral;
}

.submit-bn:hover {
    border: white;
    color: white;
    background-color: chocolate;
}

body {
    /*background-color: ghostwhite;*/
}


/* ------------- */
/* Make it responsive */
@media screen and (max-width: 480px) {

}